<mat-toolbar id="header" color="primary">
    <h1>ADMIN LOGIN REQUIRED</h1>
</mat-toolbar>
<div id="login-form">
    <h3>Login to view all data uptodate</h3>
    <mat-form-field>
        <mat-label>Enter login code</mat-label>
        <input matInput name="orderreqcode" [(ngModel)]="orderreqcode" placeholder="login code">
    </mat-form-field>
    <button mat-button color="primary" (click)="validatethekey()">Submit</button>
    <h3>If you are a Visitor, <a routerLink="">click here</a></h3>
</div>

