<br>
<div id="flo">
<h1 id="pp">All Orders saved to Server</h1>
<button mat-raised-button id="lgot" (click)="funchlogout()">LOGOUT</button>
</div>
<table mat-table [dataSource]="dataarray"  class="mat-elevation-z8" color="accent">

    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Order_id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <ng-container matColumnDef="cakeName">
      <th mat-header-cell *matHeaderCellDef>Product_Name</th>
      <td mat-cell *matCellDef="let element">{{element.cakeName}}</td>
    </ng-container>

    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef>Product_Quantity</th>
      <td mat-cell *matCellDef="let element">{{element.QTY}}</td>
    </ng-container>

    <ng-container matColumnDef="cakeid">
      <th mat-header-cell *matHeaderCellDef>Product_id</th>
      <td mat-cell *matCellDef="let element">{{element.cakeid}}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfOrder">
      <th mat-header-cell *matHeaderCellDef>Order_date/time</th>
      <td mat-cell *matCellDef="let element">{{element.dateOfOrder}}</td>
    </ng-container>
  
    <ng-container matColumnDef="customerEmail">
      <th mat-header-cell *matHeaderCellDef>CUST_email</th>
      <td mat-cell *matCellDef="let element">{{element.customerEmail}}</td>
    </ng-container>

    <ng-container matColumnDef="customerPhone">
        <th mat-header-cell *matHeaderCellDef>CUST_phone</th>
        <td mat-cell *matCellDef="let element">{{element.customerPhone}}</td>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>CUST_name</th>
        <td mat-cell *matCellDef="let element">{{element.customerName}} </td>
      </ng-container>
      
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>CUST_address</th>
        <td mat-cell *matCellDef="let element">{{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="sumOfOrder">
        <th mat-header-cell *matHeaderCellDef>sumOfOrder</th>
        <td mat-cell *matCellDef="let element">${{element.pricee}} </td>
      </ng-container>

     
  
 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table> 
<table class="table table-striped">
