
<div id="grid-container">
<header>
<mat-toolbar>
<div class="example-button-row">
    <a routerLink="/serverdata" routerLinkActive="active"><button mat-raised-button color="warn">adminLogin</button></a>
    <span id="title">Bake My Cake</span>
    <a routerLink="/cakes" routerLinkActive="active"><button mat-raised-button color="accent">home</button></a>
</div>    
</mat-toolbar>
</header>

<article>
<div id="main-container">
<router-outlet></router-outlet>
</div>
<br>
<br>
<br>
</article>


<footer>
    <div style="margin-top:5px;font-size:large;display:flex; margin-left:30%;">
    <p style="margin-top:10px;">Contact us:</p>
    <mat-icon id="icn">phone</mat-icon><mat-card>:(+004)978561 54645</mat-card>
    <img src="../assets/images/facebook.png" style="width:20px;height:20px;"><mat-card>BMC-Collarado</mat-card> 
    <img src="../assets/images/instagram.png" style="width:20px;height:20px;"><mat-card>:@BmciNSTA</mat-card>
    </div>
</footer>

</div>