.example-button-row a{
    margin-left:10px;
}
#title{
margin-left:600px;
margin-right:30%;
font-size: xx-large;
}
mat-card{
    background-color:lightgray;
    margin-top:0px;
    margin-right:30px;
    width:fit-content;
    padding-top:5px;
    padding-bottom:5px;
    height: fit-content;
    display: flex;
    margin-top:5px;
}
img{
    margin-top:15px;
    margin-right:5px;
}
#icn{
margin-top:15px;
}
footer{ 
    position: fixed; 
    bottom: 0px; 
    height:40px;
    background-color: rgba(215, 144, 193, 0.466);
    width:100%;
    opacity:100%;
}